body{
    
    font-family: "Mier demi";
}
#name_prod{
    font-family: "Mier demi";
}
#cart_main_div{
    border: 2px solid red;
    width: 100%;
    height: 550px;
}

#cart_subdetails{
    border: 2px solid red;
    width: 60%;
    margin: auto;
    display: flex;
    height:100%;

}

#cart_info{
    border: 2px solid green;
    flex:1.5;
    height:100%;
}


#cart_price{
    border: 2px solid yellow;
    flex: 1;
    height:100%;
}

#cart_singli_prod{
    display: flex;
    height: 17%;
    width: 100%;
}

#cart_img{
    object-fit: cover;
    width: 30%;
    height: 100%;
    border: 2px solid black;
}

#cart_name{
    width: 70%;
    height: 100%;
    /* border: 2px solid black; */
    /* margin-bottom: 30px; */
}

#products_id_img{
    width: 100%;
    height: 100%;

}
#name_price_id{
    border: 2px solid red;
    margin-bottom:9px
}